body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(196, 255, 214);
}

.paragraph {
    font-weight: 700;
    font-size: 30px;
}

.openModal{
    padding: 20px;
    margin: 0 auto;
}

.closeModal{
    width: 600px;
    background-color: #99D930;
    margin: 0 auto;
    padding: 20px;  
    position: relative;
    top: 30%;
}

.overlay{
    display: none;
    background-color:rgba(0,0,0,0.4);
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.button:hover {
    background-color: rgb(139, 130, 8);
}
